<mat-card class="calendario-container">
  <!-- Encabezado -->
 <div class="encabezado-header">
  <h2>¡Reserva ahora!</h2>
</div>

  <!-- Calendario -->
  <div class="calendar-wrapper">
    <mat-calendar
      [(selected)]="fechaSeleccionada"
      [dateClass]="resaltarFechasNoDisponibles">
    </mat-calendar>
  </div>

  <!-- Alerta si la fecha está bloqueada -->
  <div *ngIf="esFechaSeleccionadaNoDisponible()" class="alerta-fecha mt-2">
    ❌ Esta fecha no está disponible para reservas.
  </div>

  <!-- Franja horaria -->
  <div *ngIf="franjasHorarias.length && fechaSeleccionada" class="franjas-wrapper">
    <h4 class="titulo-franjas">
      Disponibilidad horaria para {{ fechaSeleccionada | date: 'fullDate' }}
    </h4>

    <div *ngIf="!esFechaSeleccionadaNoDisponible()" class="franjas-container">
      <div
        *ngFor="let franja of franjasHorarias"
        class="franja"
        [class.ocupada]="!franja.disponible"
        [class.seleccionada]="franjaSeleccionada === franja.hora"
        (click)="seleccionarFranja(franja)">
        {{ franja.hora }} - {{ sumarMinutos(franja.hora, 30) }}
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button
        mat-raised-button
        class="boton-reservar"
        [disabled]="esFechaSeleccionadaNoDisponible() || !franjaSeleccionada"
        (click)="abrirDialogoReserva()">
        Reservar
      </button>
    </div>
  </div>
</mat-card>
