.login-form {

  min-height: 50vh;


  padding: 5rem;
}

.bg-login{
  background: linear-gradient(to bottom, #003f1a, #017830);
}
.bg-button{
  background-color: #006428;
}
.tittle-color{
  color:#004a1e;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
