<div class="card p-4 text-center">


 <ng-container *ngIf="rating !== null && rating !== undefined; else loading">

  <div class="fs-1 text-light fw-bold">
     {{ rating.toFixed(1) }}
     <img decoding="async" style="margin-left: 5px;" src="google-reviews.png" width="150" alt="Google Reviews">
  </div>
 <h5 class="text-light display-6 fs-4">Valoración media</h5>
  <div class="text-success mt-2">

    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
      <i class="bi stars fs-3" [ngClass]="{
        'bi-star-fill': rating >= i + 1,
        'bi-star-half': rating >= i + 0.5 && rating < i + 1,
        'bi-star': rating < i + 0.5
      }"></i>
    </ng-container>
  </div>
</ng-container>

<ng-template #loading>
  <div>Cargando puntuación...</div>
</ng-template>

</div>
