.tittle-color{
  color:#004a1e;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}
.bg-create-user{
  background: linear-gradient(to bottom, #002910,  #01993e)!important;
  color: rgb(243, 255, 240);
}
.action-button{
  background-color: #004a1e;
  color: #caf6dc;
}

