<div class="container-fluid intro mb-5 d-flex align-items-center">
  <div class="container-fluid text-center">
    <h1>Visitas guiadas en Córdoba</h1>
    <p class="display-6">Disfruta nuestras rutas a pie o en tuk-tuk</p>
    <div class="container mt-4">
      <a style="text-decoration: none;" href="https://www.google.com/search?sa=X&amp;sca_esv=247d501d47960c95&amp;sca_upv=1&amp;rlz=1C5CHFA_enES1047ES1047&amp;hl=es-ES&amp;tbm=lcl&amp;sxsrf=ADLYWIJ9HDUv9O2afXUEMAdrTmX1CqeK3w:1720011029838&amp;q=C%C3%B3rdoba+EcoExperience+Rese%C3%B1as&amp;rflfq=1&amp;num=20&amp;stick=H4sIAAAAAAAAAONgkxIxNLAwszQxMzc0sDQ3MDO3MDM1N9_AyPiKUd758OailPykRAXX5HzXioLUoszUvORUhaDU4tTDGxOLF7ESUgEA7G_SxV8AAAA&amp;rldimm=10869467109706786577&amp;ved=2ahUKEwjpusWz9IqHAxVb_rsIHeOqDM4Q9fQKegQISxAH&amp;biw=2083&amp;bih=1255&amp;dpr=2#lkt=LocalPoiReviews" target="_blank" rel="noopener">
  <app-google-review-card></app-google-review-card>
      </a>


</div>
  </div>
</div>

<div class="container-fluid ms-4 mt-5">
  <div class="row">
    <!-- Filtro (lado izquierdo) -->
    <div class="col-12 col-md-2 mb-4 ms-5 me-5">
      <app-filter (filtersApplied)="onFiltersApplied($event)"></app-filter>
    </div>

    <div class="col-12 col-md-8">
      <div class="row ms-3">
        <div class="col-12 col-sm-6 col-md-4 mb-4" *ngFor="let ruta of rutas">
          <a [routerLink]="['/rutas/detalle', ruta.id]">
          <app-ruta-card [ruta]="ruta"></app-ruta-card>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
