.dialog-header {
  background: linear-gradient(to bottom,#012b12,#006428); /* verde degradado */
  color: white;
  padding: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

.bg-dialog {
  background-color: #e0f8ea;
}
