/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}
body { margin: 0;

 }
.verde-secondary-text{
  color:#dcf29b
}
.dia-no-disponible .mat-calendar-body-cell-content {
  background-color: #ffcdd2;
  color: #c62828;
 // border-radius: 50%;
  font-weight: bold;
  position: relative;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.mt-espaciado {
  margin-top: 90px; // Ajusta según el alto real de tu header
overflow-x: hidden;
}

