<footer class="text-white pt-5">

  <!-- SECCIÓN SUPERIOR -->
  <div class="container-fluid bg-footer pt-5">
    <div class="row text-start ps-5 ms-5">

      <!-- Contacto -->
      <div class="col-md-5 mb-4 ps-5 fs-5">

        <p class="me-4"><i class="bi bi-geo-alt-fill fs-3 me-4 verde-secondary-footer"></i>Cordobesa de Ecoturismo S.L. <p class="ps-5">Marqués del Boil Nº5, 1º3, 14008, Córdoba</p>
        <p class="fw-bold "><i class="bi bi-telephone-fill fs-3 me-4 verde-secondary-footer "></i>+34 652 436 740  |  +34 957 390 364</p>
        <p class=""><i class="bi bi-envelope-fill fs-3 me-4 verde-secondary-footer"></i>info&#64;cordobaeecoexperience.es</p>

      </div>

      <!-- Información legal -->
      <div class="col-md-4 mb-4 fs-2">
        <h6 class="fs-4 titulo-footer fw-bold"><i class="bi bi-pencil-square fs-3 verde-secondary-footer me-3"></i>Información legal</h6>

          <h6 class=" m-3 ps-4"><a href="#" class="text-white text-decoration-none ">Aviso legal</a></h6>
          <h6 class=" m-3 ps-4"><a href="#" class="text-white text-decoration-none ">Política de privacidad</a></h6>
          <h6 class="m-3 ps-4"><a href="#" class="text-white text-decoration-none ">Política de cookies</a></h6>

      </div>

      <!-- Valoraciones -->
      <div class="col-md-3 mb-4 fs-2">
        <h6 class="titulo-footer fw-bold fs-3"><i class="bi bi-star-fill fs-4  verde-secondary-footer me-3"></i>Valoraciones</h6>
        <img  src="google-reviews.png" alt="Google Reviews" class="mb-2 d-block ms-5" width="120" />
        <img  class="mb-2 d-block ms-5" src="tripadvisor.png" alt="TripAdvisor" width="120" />
      </div>

    </div>
  </div>

  <!-- Redes sociales -->
  <div class="container-fluid row bg-white ">
    <div class=" text-success col-5 py-3 text-center">
      <a href="#" class="mx-2 text-success"><i class="bi bi-facebook fs-1"></i></a>
      <a href="#" class="mx-2 text-success"><i class="bi bi-twitter fs-1"></i></a>
      <a href="#" class="mx-2 text-success"><i class="bi bi-instagram fs-1"></i></a>
    </div>
    <div class="col-7 mb-2 py-3 d-flex justify-content-center">
      <img src="logos-europa-andalucia.webp" alt="UE" height="40">
    </div>
  </div>
    <!-- Logos institucionales y texto final -->
    <div class="bg-light text-dark py-3 text-center">

            <p class="fw-bold mb-2">
              Renovación y mejora de la web financiada por la Unión Europea - NextGenerationEU
            </p>



    </div>


</footer>
