.bg-admin{
  background: linear-gradient(to bottom, #013c19,#006428);
}

.tittle-color{
  color:#004a1e;
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
}

.bg-header-table{
  background-color: #c6f3b6 !important;
  color: #006300;
  font-size: 1rem;
}
.bg-add-button{
  background-color: #e9f8bd !important;
  color:#004a1e !important;

  font-size: large;
}
.user-header {
  //background: linear-gradient(to bottom, #daeeb7, #e8f5e9); // blanco a verde muy claro
  //border-left: 5px solid #014e05; // verde intenso para acento
 // border-right: 5px solid #388e3c;;
  padding: 1.5rem;

}
