<header class="container-fluid w-100 shadow bg-light" role="navigation">
  <div class="row align-items-center justify-content-between">
    <div class="col-4 col-md-2 d-flex align-items-center logo-section mt-4 mb-4" routerLink="/">
      <img src="/logo-cordobaeco.png" alt="Logo Córdoba Eco Experience" class="logo" />
    </div>
    <div class="ms-3 col-7 col-md-5 text-center">
      <nav class="ms-5 nav-menu fs-5 menu-header">
        <a class="fs-5 menu-header" mat-button routerLink="/" routerLinkActive="active">Inicio</a>
        <a class="fs-5 menu-header" mat-button routerLink="/tuktuk">Tours en tuk tuk</a>

        <button class="fs-5 menu-header" mat-button [matMenuTriggerFor]="rutasMenu">Rutas a pie</button>
        <mat-menu class="fs-5 menu-header" #rutasMenu="matMenu">
          <button mat-menu-item routerLink="/rutas/monumental">Monumental</button>
          <button mat-menu-item routerLink="/rutas/patios">Patios</button>
        </mat-menu>

        <a class="fs-5 menu-header" mat-button routerLink="/blog">Blog</a>
        <a class="fs-5 menu-header" mat-button routerLink="/contacto">Contacto</a>
        <button mat-icon-button>
          <mat-icon class="text-success fs-4 ">shopping_cart</mat-icon>
        </button>
      </nav>

    </div>
    <div class="col-3 col-md-2 d-flex justify-content-center">

      <button
      *ngIf="!isLoggedIn(); else userMenu"
      class="bg-primary-eco text-white rounded-5 text-nowrap px-4 py-2 w-100 border-0 d-flex justify-content-between align-items-center"
      routerLink="/auth/login"
    >
      <span class="ps-4 fs-5 fw-semibold title-header verde-secondary-footer">Iniciar Sesión</span>
      <mat-icon class="verde-secondary-text">login</mat-icon>
    </button>


    <ng-template #userMenu>

      <ng-container *ngIf="isAdmin(); else simpleLogout">
        <button
          mat-button
          [matMenuTriggerFor]="adminMenu"
          class="bg-primary-eco text-white rounded-5 px-4 py-2 d-flex justify-content-between w-100"
        >
        <span class="fw-semibold">{{ getUserFullName() }}</span>
          <mat-icon class="ms-2">expand_more</mat-icon>
        </button>

        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item routerLink="/users/users-list">
            <mat-icon>dashboard</mat-icon>
            Administración
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Cerrar sesión
          </button>
        </mat-menu>
      </ng-container>

      <ng-template #simpleLogout>
        <button
          (click)="logout()"
          class="bg-primary-eco text-white rounded-5 px-4 py-2 w-100 border-0 d-flex justify-content-between align-items-center"
        >
          <span class="fs-5 fw-semibold">Cerrar Sesión</span>
          <mat-icon>logout</mat-icon>
        </button>
      </ng-template>
    </ng-template>
    </div>

  </div>
</header>
