<header class="container-fluid w-100 shadow bg-light" role="navigation">
  <div class="row align-items-center justify-content-between">
    <div class="col-4 col-md-2 d-flex align-items-center logo-section mt-4 mb-4" routerLink="/">
      <img src="/logo-cordobaeco.png" alt="Logo Córdoba Eco Experience" class="logo" />
    </div>
    <div class="ms-3 col-8 col-md-5 text-center">
      <nav class="ms-5 nav-menu fs-5 menu-header">
        <a class="fs-6 menu-header text-success" mat-button routerLink="/" routerLinkActive="active">Inicio</a>
        <a class="fs-6 menu-header text-secondary"  mat-button disabled  routerLink="/tuktuk">Tours en tuk tuk</a>

        <button class="fs-6 text-secondary menu-header"  mat-button disabled [matMenuTriggerFor]="rutasMenu">Rutas a pie</button>
        <mat-menu class="fs-6 menu-header" #rutasMenu="matMenu">
          <button mat-menu-item  routerLink="/rutas/monumental">Monumental</button>
          <button mat-menu-item  routerLink="/rutas/patios">Patios</button>
        </mat-menu>

        <a class="fs-6 menu-header text-secondary"  mat-button disabled routerLink="/contacto">Contacto</a>
        <button mat-icon-button disabled>
          <mat-icon class=" fs-4 text-secondary ">shopping_cart</mat-icon>
        </button>
      </nav>

    </div>
    <div class="col-2 col-md-2 d-flex justify-content-center">

  <button
    *ngIf="!isLoggedIn(); else userMenu"
    class="bg-primary-eco text-white rounded-5 text-nowrap px-4 py-2 w-100 border-0 d-flex justify-content-between align-items-center"
    routerLink="/login"
  >
    <span class="ps-4 fs-5 fw-semibold title-header verde-secondary-footer">Iniciar Sesión</span>
    <mat-icon class="verde-secondary-text">login</mat-icon>
  </button>

  <ng-template  #userMenu>
  <button
  mat-button
  [matMenuTriggerFor]="userDropdown"
  class="bg-primary-eco text-white rounded-5 px-3 py-4 d-flex align-items-center w-100"
>
  <div class="d-flex align-items-center gap-4 overflow-hidden">
    <!-- Círculo con inicial -->
    <span class="initial-circle flex-shrink-0">
      {{ getUserFullName().charAt(0).toUpperCase() }}
    </span>

    <!-- Nombre, que se adapte sin romper -->
    <span class="fw-semibold text-truncate user-name ">
      {{ getUserFullName() }}
    </span>
  </div>

  <mat-icon class="ms-auto">expand_more</mat-icon>
</button>


    <mat-menu #userDropdown="matMenu">
      <!-- Solo mostrar si es admin -->
      <button *ngIf="isAdmin()" mat-menu-item routerLink="/users/users-list">
        <mat-icon>dashboard</mat-icon>
        Administración
      </button>

      <!-- Siempre mostrar la opción de cerrar sesión -->
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  </ng-template>
</div>

  </div>
</header>
